# Python
__pycache__/
*.py[cod]
*.so

# Virtual Environment
venv/
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Node
frontend/node_modules/
frontend/dist/

# Build
build/
dist/

# OS
.DS_Store
Thumbs.db

# Logs
*.log